body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:786px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:786px;
}
#u1 {
  position:absolute;
  left:2px;
  top:385px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:260px;
  top:34px;
  width:130px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:409px;
  top:34px;
  width:130px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:559px;
  top:34px;
  width:130px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:28px;
  width:133px;
  height:33px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1140px;
  top:30px;
  width:30px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1217px;
  top:25px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1270px;
  top:34px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:699px;
  top:34px;
  width:130px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:118px;
  width:300px;
  height:642px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:642px;
}
#u23 {
  position:absolute;
  left:2px;
  top:313px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:120px;
  top:151px;
  width:80px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:120px;
  top:180px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:120px;
  top:210px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:120px;
  top:240px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0099FF;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:414px;
  top:118px;
  width:876px;
  height:142px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:142px;
}
#u33 {
  position:absolute;
  left:2px;
  top:63px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:450px;
  top:177px;
  width:660px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:450px;
  top:212px;
  width:396px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1110px;
  top:172px;
  width:10px;
  height:32px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:32px;
}
#u39 {
  position:absolute;
  left:1160px;
  top:176px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#6AB8DA;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
